# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Environment variables
.env

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.eggs/

# VS Code
.vscode/

# Pytest
.pytest_cache/

# macOS
.DS_Store

# SQLite
*.sqlite3
